/**
 * MVCPHP Framework
 * 
 * @link http://mvcphp.ru/
 * 
 */
body {
    margin: 0;
    padding: 0;
    background: url("../img/bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-size: 12pt;
}
.logo {
    width: 950px;
    margin: 20px auto 0 auto;
}
.main {
    width: 950px;
    margin: 0 auto 50px auto;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    
    box-shadow: -1px 1px 6px 0 #b2b1b6;
    -moz-box-shadow: -1px 1px 6px 0 #b2b1b6;
    -webkit-box-shadow: -1px 1px 6px 0 #b2b1b6;
}
.header {
    background: url("../img/header.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 100%;
    height: 47px;
    
    box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.3) inset;
    -moz-box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.3) inset;
    
    border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
}
.content {
    margin: auto;
    width: 950px;
}
.footer {
    
}
.top-panel {
    background: url("../img/top-panel.png") repeat-x scroll 0 0 #1d2837;
    width: 100%;
    height: 38px;
    position: fixed;
    left: 0;
    top: 0;
}
.panel {
    background: url("../img/panel.png") repeat-x scroll 0 0 #3a4454;
    width: 100%;
    height: 30px;
    position: relative;
}
.panel-text {
    position: absolute;
    top: 5px;
    left: 10px;
}
.green {
    color: #00a708;
}
.red {
    color: #bf2e1a;
}
.white {
    color: #ffffff;
}
.blue {
    color: #286397;
}
.form {
    margin: 25px auto;
    width: 900px;
}
.result {
    margin: 50px auto;
    width: 900px;
}
.ta-left {
    text-align: left;
}
.ta-center {
    text-align: center;
}
.ta-right {
    text-align: right;
}
.fs-8 {
    font-size: 8pt;
}
.fs-10 {
    font-size: 10pt;
}
.fs-12 {
    font-size: 12pt;
}
.fs-14 {
    font-size: 14pt;
}
.fs-16 {
    font-size: 16pt;
}
.fs-18 {
    font-size: 18pt;
}
.fs-20 {
    font-size: 20pt;
}
.fs-22 {
    font-size: 22pt;
}
.m-l-5 {
    margin-left: 5px;
}
.m-l-10 {
    margin-left: 10px;
}
.m-l-15 {
    margin-left: 15px;
}
.m-l-20 {
    margin-left: 20px;
}
.m-l-25 {
    margin-left: 25px;
}
.m-l-30 {
    margin-left: 30px;
}
.m-l-35 {
    margin-left: 35px;
}
.m-r-5 {
    margin-right: 5px;
}
.m-r-10 {
    margin-right: 10px;
}
.m-r-15 {
    margin-right: 15px;
}
.m-r-20 {
    margin-right: 20px;
}
.m-r-25 {
    margin-right: 25px;
}
.m-r-30 {
    margin-right: 30px;
}
.m-r-35 {
    margin-right: 35px;
}
.m-t-5 {
    margin-top: 5px;
}
.m-t-10 {
    margin-top: 10px;
}
.m-t-15 {
    margin-top: 15px;
}
.m-t-20 {
    margin-top: 20px;
}
.m-t-25 {
    margin-top: 25px;
}
.m-t-30 {
    margin-top: 30px;
}
.m-t-35 {
    margin-top: 35px;
}
.m-b-5 {
    margin-bottom: 5px;
}
.m-b-10 {
    margin-bottom: 10px;
}
.m-b-15 {
    margin-bottom: 15px;
}
.m-b-20 {
    margin-bottom: 20px;
}
.m-b-25 {
    margin-bottom: 25px;
}
.m-b-30 {
    margin-bottom: 30px;
}
.m-b-35 {
    margin-bottom: 35px;
}
.t-sh {
    text-shadow: 0 1px 1px rgba(155, 155, 155, 0.75);
}
.inp-text {
    background-color: #ffffff;
    border: 1px solid #3a4454;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.inp-text:focus {
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.inp-sub {
    cursor: pointer;
    padding: 4px 15px 4px 15px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(155, 155, 155, 0.75);
    background-color: #f5f5f5;

    background-image: -ms-linear-gradient(top, #ffffff, #e5e5e5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e5e5e5));
    background-image: -webkit-linear-gradient(top, #ffffff, #e5e5e5);
    background-image: -o-linear-gradient(top, #ffffff, #e5e5e5);
    background-image: linear-gradient(top, #ffffff, #e5e5e5);
    background-image: -moz-linear-gradient(top, #ffffff, #e5e5e5);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    border: 1px solid #cccccc;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.inp-sub:hover {
    border-color: #2f96b4;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.code {
    background: #fcfcff;
}
.size-10 {
    font-size: 10px;
}
.size-12 {
    font-size: 12px;
}
.size-14 {
    font-size: 14px;
}
.size-16 {
    font-size: 16px;
}
.size-18 {
    font-size: 18px;
}
.size-20 {
    font-size: 20px;
}
.size-22 {
    font-size: 22px;
}
.size-24 {
    font-size: 24px;
}
.size-26 {
    font-size: 26px;
}
.p-l-5 {
    padding-left: 5px;
}
.p-l-10 {
    padding-left: 10px;
}
.p-l-15 {
    padding-left: 15px;
}
.p-l-20 {
    padding-left: 20px;
}
.p-l-25 {
    padding-left: 25px;
}
.p-l-30 {
    padding-left: 30px;
}
.p-l-35 {
    padding-left: 35px;
}
.p-r-5 {
    padding-right: 5px;
}
.p-r-10 {
    padding-right: 10px;
}
.p-r-15 {
    padding-right: 15px;
}
.p-r-20 {
    padding-right: 20px;
}
.p-r-25 {
    padding-right: 25px;
}
.p-r-30 {
    padding-right: 30px;
}
.p-r-35 {
    padding-right: 35px;
}
.p-t-5 {
    padding-top: 5px;
}
.p-t-10 {
    padding-top: 10px;
}
.p-t-15 {
    padding-top: 15px;
}
.p-t-20 {
    padding-top: 20px;
}
.p-t-25 {
    padding-top: 25px;
}
.p-t-30 {
    padding-top: 30px;
}
.p-t-35 {
    padding-top: 35px;
}
.p-b-5 {
    padding-bottom: 5px;
}
.p-b-10 {
    padding-bottom: 10px;
}
.p-b-15 {
    padding-bottom: 15px;
}
.p-b-20 {
    padding-bottom: 20px;
}
.p-b-25 {
    padding-bottom: 25px;
}
.p-b-30 {
    padding-bottom: 30px;
}
.p-b-35 {
    padding-bottom: 35px;
}